body, footer {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-size: 1.4em !important;
  padding: 0px !important;
  margin: 0px 0px !important;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none !important;
  color: black;
}

button {
  border: none;
}

#app {
  max-width: 100%;
}

.header-wrap {
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
}
.header-wrap .header-content {
  margin: 0px auto;
  display: flex;
  height: 70px;
  box-sizing: border-box;
  user-select: none;
  justify-content: space-between;
  max-width: 1380px;
  position: relative;
}
.header-wrap .header-content .header-logo {
  align-self: center;
  flex-basis: calc(30% - 230px);
  max-width: 80px;
  margin-top: 5px;
}
@media (max-width: 980px) {
  .header-wrap .header-content .header-logo {
    display: none;
  }
}
.header-wrap .header-content .header-menu {
  margin: 0px;
  flex-basis: calc(70% - 10px);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 980px) {
  .header-wrap .header-content .header-menu {
    display: none;
  }
}
.header-wrap .header-content .header-menu li {
  padding: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.header-wrap .header-content .header-menu li:hover {
  background-color: black !important;
  color: white;
}
.header-wrap .header-content .header-menu li span {
  align-self: center;
  padding: 2px;
}
.header-wrap .header-content .header-mobile-wrap {
  display: none;
  flex-basis: 100%;
  max-width: 1380px;
  position: absolute;
  top: 25px;
  left: 20px;
}
@media (max-width: 980px) {
  .header-wrap .header-content .header-mobile-wrap {
    display: block;
  }
}
.header-wrap .header-content .header-mobile-wrap .menu-icon {
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.sticky {
  position: fixed;
  top: 0px;
  background-color: #292929;
  color: white;
}

.main-wrap {
  margin: 0px auto;
}

.my-carousel img {
  height: 500px;
}
@media (max-width: 991px) {
  .my-carousel img {
    height: auto;
  }
}

.optin {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  background-color: #2f2f2f;
  color: white;
}
.optin .optin_app_adj {
  max-width: 600px;
}
.optin .optin_app_adj h1 {
  text-align: center;
  display: block;
  font-size: 1.8em !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
}
.optin .optin_app_adj form {
  max-width: 600px;
  margin: 0 auto;
}
.optin .optin_app_adj form input {
  margin-bottom: 10px;
}
.optin .optin_app_adj form button {
  width: 100%;
}

.video_section .adjust_videos {
  margin: 0px auto;
  max-width: 1380px;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.video_section .adjust_videos h2 {
  flex-basis: 100%;
}
.video_section .adjust_videos .video_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  padding: 0px 50px;
}
@media (max-width: 717px) {
  .video_section .adjust_videos .video_gallery {
    padding: 0px;
  }
}
.video_section .adjust_videos .video_gallery .videos {
  flex-basis: 48%;
  background-color: #ECE9E6;
  padding: 10px;
  margin-bottom: 2%;
  max-height: 350px;
  height: 350px;
}
@media (max-width: 1024px) {
  .video_section .adjust_videos .video_gallery .videos {
    height: 300px;
  }
}
@media (max-width: 780px) {
  .video_section .adjust_videos .video_gallery .videos {
    flex-basis: 100%;
  }
}
@media (max-width: 450px) {
  .video_section .adjust_videos .video_gallery .videos {
    height: 200px;
  }
}

.footer {
  background-color: #292929;
  color: #ECE9E6;
}
.footer .container h1 {
  border-bottom: 1px solid white;
}
.footer .container p {
  cursor: pointer;
}
.footer .contact span i {
  font-size: 1em;
}
.footer .contact span a {
  list-style: none;
  color: #ECE9E6;
  padding: 5px;
}
.footer .contact span .insta {
  color: rgba(238, 98, 122, 0.857);
}
.footer .contact span .face {
  color: #020e89;
}
.footer .contact span .yt {
  color: #bd1818;
}
@media (max-width: 766px) {
  .footer .contact {
    text-align: center;
  }
}
.footer .midias {
  display: flex;
  flex-direction: column;
}
@media (max-width: 766px) {
  .footer .mensagem {
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
