.optin{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: $optin_color;
    color: white;
    
    .adjust{
        max-width: 1380px;
        display: flex;
        flex-wrap: wrap;
        @media(max-width: 718px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        h2{
            flex-basis: 100%;
            text-align: center;            
        }
    
        form{
            max-width: 1380px;
            flex-basis: 100%;
            margin-top: 15px;
        }
    }
}