.main-wrap{
    max-width: 1380px;
    margin: 0px auto;
    text-align: center;
    height: 70vh;
    display: flex;

    .temporary{
        align-self: center;
        flex-basis: 100%;
        color: red;
    }
}