.video_section{
        
    .adjust_videos{
        max-width: 100%;
        padding: 0px 20px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;

        h2{
            flex-basis: 100%;
        }

        .video_gallery{
            margin: 0px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 30px;

            .videos{
                flex-basis: 48%; 
                width: 350px;   
                background-color: grey;      
                padding: 10px;  
                margin-bottom: 2%; 
                
                a{
                    color: white;

                    &:hover{
                        color: #cecece;
                    }
                }

                @media(max-width: 717px){
                    flex-basis: 100%;
                }
            }
        }

    }
}