.optin{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: $optin_color;
    color: white;
    
    .optin_app_adj{
        max-width: 600px;

        h1{
            text-align: center;
            display: block;
            font-size: 1.8em !important;
            margin: 0 auto !important;
            margin-bottom: 20px !important;
        }

        form{
            max-width: 600px;
            margin: 0 auto;

            input{
                margin-bottom: 10px;
            }

            button{
                width: 100%;
            }
        }
    }
    
    
}